body,p,ul,li {
    padding: 0; margin: 0; 
}
*{box-sizing: border-box;}

.AdContainer {
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: relative;
}
.d-none {
    display: none;
}
.d-block {
    display: block;
}
.frame1 {
    width: 100%;
    height: 100%;
    background: url(../images/f1-bg.jpg) center / 100% 100% no-repeat;
    position: absolute;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.frame1 .ball {
    position: absolute;
    top: 93px;
    left: 66px;
    cursor: pointer;
    animation: f1-clickText 6s linear 0s 1 alternate;
}
.frame1 .tap {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 136px;
    left: 139px;
    cursor: pointer;
    animation: f1-clickText 6s linear 0s 1 alternate;
}
@keyframes f1-clickText {
    0% {
        opacity:0;
      }
      30% {
        opacity: 0;
      }
      60% {
        opacity: 1;
      }
      100% {
        opacity:1;
      }
}
.qrCode {
    animation: f1-clickText 6s linear 0s 1 alternate;
}
.frame1Ball {
    transition: transform 2s ease; 
    transform: rotate(360deg); 
    cursor: pointer;
} 
.tap-wrapper {
    animation: f1-clickText 6s linear 0s 1 alternate;
}
.frame1 .tap-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    background-color: hsl(43, 49%, 100%);
    opacity: 0;
    cursor: pointer;
  }
.frame1 .tap-emitter {
    margin: 0 auto;
    width: 8px;
    height: 8px;
    border-radius: 9999px;
    background-color: hsl(43, 49%, 100%);
    position: absolute;
    top: 130px;
    left: 144px;
  }
.frame1 .tap-wave {
    animation: tap 2s linear infinite;
  }
  
  @keyframes tap {
    from {
      opacity: 0.4;
    }
    to {
      transform: scale(3);
      opacity: 0;
    }
  }
.frame2 {
    width: 100%;
    height: 100%;
    background: url(../images/f2-bg.jpg) center / 100% 100% no-repeat;
    position: absolute;
    display: none;
}
.frame2  .takeShot {
    position: absolute;
    top: 117px;
    left: 88px;
    cursor: pointer;
    z-index: 99;
}
.frame2 .kickball {
    position: absolute;
    width: 73px;
    height: 73px;
    top: 136px;
    left: 110px;
    cursor: pointer;
    display: none;
    z-index: 20;
}
.frame2 .ballShadow{
    position: absolute;
    top: 202px;
    left: 136px;
    display: none;
}
.frame2 .shotballText {
    position: absolute;
    top: 154.5px;
    left: 109px;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
}
.frame2 .tryagainText {
    position: absolute;
    top: 161px;
    left: 117px;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
}
.oneTextAnimation{
    -webkit-animation: fadeInTextOne 4s ease 0s 1;
    animation: fadeInTextOne 4s ease 0s 1;
}
@-webkit-keyframes fadeInTextOne {
    0%{
        opacity: 0.8;
      }
      65% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
      
}
@-moz-keyframes fadeInTextOne {
    0%{
        opacity: 0.8;
      }
      65% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
}

@keyframes fadeInTextOne {
    0%{
        opacity: 0.8;
      }
      65% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
}

.frame2 .aimcenterText {
    position: absolute;
    top: 158px;
    left: 117px;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
}
.twoTextAnimation{
    -webkit-animation: fadeInText 2s ease 3.5s alternate;
    animation: fadeInText 2s ease 3.5s alternate;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes fadeInText {
    0%{
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}
@-moz-keyframes fadeInText {
    0%{
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}

@keyframes fadeInText {
    0%{
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}

.netConatiner {
    position: absolute;
    left: 94px;
}
.f2-top-net {
    position: absolute;
    left: 0;
    top: 0;
}
.f2-bottom-net {
    position: absolute;
    left: 0;
    top: 22px;
    z-index: 10;
}

.activeNet {
    animation: activeNet 2.5s ease-in-out infinite alternate;
}
@keyframes activeNet {
    0%   {left: 2px; }
    100% {left: 182px; }
  }
  @-webkit-keyframes activeNet {
    0%   {left: 2px; }
    100% {left: 182px; }
  } 
  @-moz-keyframes activeNet {
    0%   {left: 2px; }
    100% {left: 182px; }
  }
.basketballKicked {
    animation: kichedBall 2.5s 1 linear;
    border-radius: 100%;
}

@keyframes kichedBall {
    0% {
        top: 138px;
    }
    10% {
        top: 68px;
        width: 81px;
        height: 81px;
        left: 108px;
    }
    20% {
        top: 10px;
        width: 78px;
        height: 78px;
        left: 111px;
    }
    30% {
        top: -58px;
        width: 76px;
        height: 76px;
        left: 111px;
    }
    40% {
        top: 10px;
        width: 75px;
        height: 75px;
        left: 111px;
    }
    50% {
        top: 70px;
        width: 73px;
        height: 73px;
        left: 111px;
        z-index: 5;
    }
     60% {
        top: 138px;
        width: 73px;
        height: 73px;
        left: 111px;
        transform: rotateZ(-60deg);
    }
    70% {
        top: 108px;
        width: 73px;
        height: 73px;
        left: 141px;
    }
    80% {
        top: 138px;
        width: 73px;
        height: 73px;
        left: 171px;
    }
    90% {
        top: 116px;
        width: 73px;
        height: 73px;
        left: 201px;
    }
    100% {
        top: 138px;
        width: 73px;
        height: 73px;
        left: 225px;
    }
}
@-webkit-keyframes kichedBall {
    0% {
        top: 138px;
    }
    10% {
        top: 68px;
        width: 81px;
        height: 81px;
        left: 108px;
    }
    20% {
        top: 10px;
        width: 78px;
        height: 78px;
        left: 111px;
    }
    30% {
        top: -58px;
        width: 76px;
        height: 76px;
        left: 111px;
    }
    40% {
        top: 10px;
        width: 75px;
        height: 75px;
        left: 111px;
    }
    50% {
        top: 70px;
        width: 73px;
        height: 73px;
        left: 111px;
        z-index: 5;
    }
     60% {
        top: 138px;
        width: 73px;
        height: 73px;
        left: 111px;
        transform: rotateZ(-60deg);
    }
    70% {
        top: 108px;
        width: 73px;
        height: 73px;
        left: 141px;
    }
    80% {
        top: 138px;
        width: 73px;
        height: 73px;
        left: 171px;
    }
    90% {
        top: 116px;
        width: 73px;
        height: 73px;
        left: 201px;
    }
    100% {
        top: 138px;
        width: 73px;
        height: 73px;
        left: 225px;
    }
}
@-moz-keyframes kichedBall {
    0% {
        top: 138px;
    }
    10% {
        top: 68px;
        width: 81px;
        height: 81px;
        left: 108px;
    }
    20% {
        top: 10px;
        width: 78px;
        height: 78px;
        left: 111px;
    }
    30% {
        top: -58px;
        width: 76px;
        height: 76px;
        left: 111px;
    }
    40% {
        top: 10px;
        width: 75px;
        height: 75px;
        left: 111px;
    }
    50% {
        top: 70px;
        width: 73px;
        height: 73px;
        left: 111px;
        z-index: 5;
    }
     60% {
        top: 138px;
        width: 73px;
        height: 73px;
        left: 111px;
        transform: rotateZ(-60deg);
    }
    70% {
        top: 108px;
        width: 73px;
        height: 73px;
        left: 141px;
    }
    80% {
        top: 138px;
        width: 73px;
        height: 73px;
        left: 171px;
    }
    90% {
        top: 116px;
        width: 73px;
        height: 73px;
        left: 201px;
    }
    100% {
        top: 138px;
        width: 73px;
        height: 73px;
        left: 225px;
    }
}

.kickedBallDrop {
    width: 80px !important;
    height: 80px !important;
    left: 190px !important;
    top: 127px !important;
    /* transition: all 1s; */
    transform: rotateZ(-10deg);
    cursor: default !important;
}


.f2-left-net{
    width: 88px;
    height: 84px;
    position: absolute;
    left: 3px;
 }
 .f2-right-net{
    width: 88px;
    height: 84px;
    position: absolute;
    right: 3px;
 }

.frame2 .logo,
.frame2 .heading,
.frame2 .cta,
.frame2 .price {
    position: absolute;
    /* display: none; */
}
.frame2 .logo {
    top: 10px;
    left: 13px;
}
.frame2 .heading {
    top: 85px;
    left: 12px;
    opacity: 0;
}
.frame2 .subHeading {
    position: absolute;
    top: 135px;
    left: -141px;
    transition: all 1.5s;
}
.frame2 .cta {
    top: 214px;
    left: 179px;
}
.frame2 .price {
    top: 200px;
    left: 12px;
}
.one,.two,.three,.four{
    opacity: 0;
}
.frame2-animate {
    -webkit-animation: fading ease-in 1s;
    animation: fading ease-in 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
@-webkit-keyframes fading {
    from {
        opacity: 0;
    }
    to {
         opacity: 1;   
    }
}
@-moz-keyframes fading {
    from {
        opacity: 0;
    }
    to {
         opacity: 1;   
    }
}

@keyframes fading {
    from {
        opacity: 0;
    }
    to {
         opacity: 1;   
    }
}
.frame2-animate.one {
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}

.frame2-animate.two {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s
}

.frame2-animate.three {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.frame2-animate.four {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
/* @-webkit-keyframes fading {
    from {
        opacity: 0;
    }
    to {
         opacity: 1;   
    }
}
@-moz-keyframes fading {
    from {
        opacity: 0;
    }
    to {
         opacity: 1;   
    }
}

@keyframes fading {
    from {
        opacity: 0;
    }
    to {
         opacity: 1;   
    }
} */
